{% extends 'gara/customerbase.html' %}
{% load widget_tweaks %}
{% block content %}

<br><br><br><br><br>
<div style="margin-left:0px;" class="container">
<h3 style="text-align:center;">CẬP NHẬT QUY ĐỊNH</h3>

<!-- Xuat gia tri ra table -->
<div class="card-content">
    <table>
        <thead>
            <tr>
                {% comment %} <th>MaThamSo</th> {% endcomment %}
                <th>TenThamSo</th>
                <th>GiaTri</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>

                <td> {{ i.TenThamSo }}</td>
                <td> {{ i.GiaTri }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
<!-- Xuat gia tri ra table -->
</div>
{% endblock content %}