{% extends 'gara/customerbase.html' %}
{% block content %}

<style type="text/css">
    a:link {
      text-decoration: none;
    }

    h6 {
      color: white;
      font-size: 0.90em;
    }

    .order-card {
      color: #fff;
    }

    .bg-c-blue {
      background: linear-gradient(45deg, #4099ff, #73b4ff);
    }

    .bg-c-green {
      background: linear-gradient(45deg, #2ed8b6, #59e0c5);
    }

    .bg-c-yellow {
      background: linear-gradient(45deg, #FFB64D, #ffcb80);
    }

    .bg-c-pink {
      background: linear-gradient(45deg, #FF5370, #ff869a);
    }


    .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
      border: none;
      margin-bottom: 30px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    .card .card-block {
      padding: 25px;
    }

    .order-card i {
      font-size: 26px;
    }

    .f-left {
      float: left;
    }

    .f-right {
      float: right;
    }
    h6{
      size:20;
    }
  </style>
	<!-- main content -->
 
	<div class="wrapper">

		{% comment %} <a href="/"><button class="bn632-hover bn26">Lập phiếu tiếp nhận xe</button></a> {% endcomment %}
		<div style="margin-left:0px;" class="container">
			<div class="row">
			  <div class="col-md-4 col-xl-3">
				<div class="card bg-c-green order-card">
					<div class="card-block">
					  <a href="../{{customer.username}}/add_request">
						<h6 class="m-b-20">Tạo yêu cầu tiếp nhận xe</h6>
					  </a>
					  <h2 class="text-right"><i class="fas fa-plus-circle f-left"></i></h2>
					  <br>
					</div>
				  </div>
			  </div>
			</div>
		</div>
				<!-- ****** table  start ********** -->
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" id="message_container" {% endif %}>{{ message }}</p>
        {% endfor %}
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
			
						
				<div class="card">
					<div class="card-header">
										  
						<h2 style="color:red; text-align:center" >Danh sách xe đã tiếp nhận trong ngày</h2>
						

					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
								<th>Biển số</th>
								<th>Hiệu xe</th>
								<th>Tên chủ xe</th>
								<th>Điện thoại</th>
								<th>Địa chỉ</th>
								<th>Ngày tiếp nhận</th>
                <th>Sửa</th>
								</tr>
							</thead>
							<tbody>
                {% for enq in enquiries %}
                <tr>
                  <td>{{enq.bienso}}</td>
                  <td>{{enq.hieuxe}}</td>
                  <td>{{enq.tenchuxe}}</td>
                  <td>{{enq.dienthoai}}</td>
                  <td>{{enq.diachi}}</td>
                  <td>{{enq.date}}</td>
                  <td><a  style="color:red; text-decoration:none;font-size:25px;" href="{% url 'gara:update_request' username=customer.username pk=enq.maphieutiepnhan %}">&#9998;</a></td>
                </tr>
                {% endfor %}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
   
<!-- ****** table start ********** -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</div>
	<!-- end main content -->
{% endblock content %}
